body {
  width: 60%;
  background-color: lightblue;
  margin: 0 auto 0 auto;
}

.chat{
  margin: auto;
}

.join{
  background-color: blue;
  color: white;
  font-weight: bold;
}

.leave{
  background-color: gray;
  color: white;
  font-weight: bold;
}

.message{
  text-align: right;
  display: inline;
}

.message > .header{
  font-size: smaller;
}

.message > .body{
  font-size: larger;
}
