node_modules/
lib/
test/
*.o
*.x
*.list
ORS/*.txt
ORS/*.json
ORS/*.jpg
ORS/*.png
__pycache__/
summary/
ORS/google-cloud-sdk/
*.zip
*.bin
bin/
*.pass
target/
project_add.sh
project_test.sh
*.log
transmited/
