<h1>Answers</h1>
<div>
    {{#each data}}
      <div style="border: 1px solid black;">
        <h2>{{correct}}</h2>
        <p>{{text}}</p>
        <p>Updated: {{updatedAt}}</p>
        <p>Published: {{createdAt}}<p>
      </div>
    {{/each}}
</div>
